@use '../base/variables' as *;

.apropos {
  padding-block: 3rem;

  &__title {
    font-size: 2.5rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(10px, 3vw, 32px);
    margin-bottom: 3rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: .13em;
    text-transform: uppercase;
  }

  &__wing {
    display: flex;
    flex: 0 1 clamp(30px, 10vw, 112px);
    min-width: 18px;
    flex-direction: column;
    gap: clamp(4px, .7vw, 8px);
  }

  &__wing i {
    background: #d19e1d;
    background: -webkit-linear-gradient(180deg, #d19e1d 0%, #ffd86e 50%, #e3a812 100%);
    background: linear-gradient(180deg, #d19e1d 0%, #ffd86e 50%, #e3a812 100%);
    display: block;
    height: clamp(2px, .35vw, 4px);
    border-radius: 10px;
  }

  &__wing i:nth-child(1) { width: 100%; }
  &__wing i:nth-child(2) { width: 76%; }
  &__wing i:nth-child(3) { width: 54%; }

  .wing-left { align-items: flex-end; }
  .wing-right { align-items: flex-start; }

  &__speach,
  &__photos {
    display: inline-block;
    vertical-align: top;
    width: 50%; 
  }

  &__photos--photo {
    border: .5rem solid #fff;
    box-shadow: rgba(0,0,0,0.25) 0px 2px 6px 0px;
    margin: 0 auto;
    position: relative;
    width: 26rem;
  }

  .photo-01 {
    transform: rotate(5deg);
    z-index: 5;
  }
  .photo-02 {
    transform: rotate(7deg);
    z-index: 1;
  }
  

  figcaption {
      display: none;
  }
}
