@use '../base/variables' as *;

.apropos {
  padding-block: 3rem;

  &__titleContainer {
    display: flex;
    align-items: center;
  }

  &__citation {
    margin-left: auto;
    max-width: 20rem;
    font-family: 'Cormorant Garamond', $font-body;
    font-style: italic;
  }
}
