@use '../base/variables' as *;

.btn {
  border-radius: 5px;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 auto;
  padding: 0.5rem;
  transition: filter 0.15s ease;
  width: max-content;

  &:hover {
    filter: brightness(1.08);
  }

}
