@use '../base/variables' as *;

.btn {
  border-radius: 5px;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  width: max-content;

  &--error {
    background-color: $color-dis;
  }

  &--success {
    background-color: #03a909;
  }

}
