@use '../base/variables' as *;

.footer {
  padding-block: 1rem;
  background-color: $color-footer-bg;
  color: $color-footer-text;

  &__copy {
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.5);
  }
}
