@use '../base/variables' as *;

.footer {
  background-color:#242222;
  padding-block: 1rem;

  &__inner {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1.5rem;
    justify-content: space-between;
  }

  &__copy {
    font-size: 0.75rem;
  }

  &__legal-link {
    color: $color-speach;
    font-size: 0.75rem;
    text-decoration: underline;

    &:hover {
      color: $color-orange;
    }
  }
}
