@use '../base/variables' as *;

.partners {
  padding-block: 2rem;

  &__title {
    margin-bottom: 1rem;
  }

  &__grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);

    @media (min-width: $bp-tablet) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    a {
      background: linear-gradient(120deg, rgba(151, 151, 151, 0.2), rgba(42, 40, 41, .96) 58%);
      align-items: center;
      aspect-ratio: 3 / 2;;
      border: 1px solid rgba(255, 255, 255, .14);
      border-radius: $radius;
      display: flex;
      justify-content: center;
      transition: border-color 0.15s ease;

      &:hover {
        border-color: $color-orange;
      }
    }
  }

  &__logo {
    max-height: 60%;
    max-width: 70%;
    object-fit: contain;
  }

}
