@use 'variables' as *;

body {
  font-family: $font-body;
  color: var(--color-text);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-bg);
}

h1,
h2,
h3 {
  font-family: $font-heading;
  font-weight: 600;
  color: var(--color-text);
}

h2 {
  font-size: 1.5rem;

  @media (min-width: $bp-tablet) {
    font-size: 1.75rem;
  }
}
